In [3]:
! pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.5.16)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from kaggle) (2023.7.22)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.27.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.26.16)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle) (6.0.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.4)

In [4]:
! mkdir ~/.kaggle

In [8]:
! cp kaggle.json ~/.kaggle/

In [9]:
! chmod 600 ~/.kaggle/kaggle.json

In [10]:
! kaggle competitions download -c titanic

Downloading titanic.zip to /content
  0% 0.00/34.1k [00:00<?, ?B/s]
100% 34.1k/34.1k [00:00<00:00, 61.6MB/s]

In [11]:
! unzip "/content/titanic.zip"

Archive:  /content/titanic.zip
  inflating: gender_submission.csv
  inflating: test.csv
  inflating: train.csv

In [12]:
import numpy as np
import pandas as pd

In [13]:
df = pd.read_csv("train.csv")

In [14]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [15]:
y = df['Survived']
data = df.drop(columns=['Survived', 'PassengerId', 'Name', 'Ticket', 'Cabin'])
data

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         3    male  22.0      1      0   7.2500        S
1         1  female  38.0      1      0  71.2833        C
2         3  female  26.0      0      0   7.9250        S
3         1  female  35.0      1      0  53.1000        S
4         3    male  35.0      0      0   8.0500        S
..      ...     ...   ...    ...    ...      ...      ...
886       2    male  27.0      0      0  13.0000        S
887       1  female  19.0      0      0  30.0000        S
888       3  female   NaN      1      2  23.4500        S
889       1    male  26.0      0      0  30.0000        C
890       3    male  32.0      0      0   7.7500        Q

[891 rows x 7 columns]

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    object
 2   Age       714 non-null    float64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   Embarked  889 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 48.9+ KB

In [17]:
data['Age'].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [18]:
fill_value = np.mean(data['Age'])
fill_value
data['Age'][888]

nan

In [19]:
data['Age'] = data['Age'].fillna(fill_value)
data['Age'][888]

29.69911764705882

In [20]:
print(data['Embarked'].unique())
print(data['Embarked'].value_counts())

['S' 'C' 'Q' nan]
S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [21]:
data['Embarked'] = data['Embarked'].fillna('S')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    object
 2   Age       891 non-null    float64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   Embarked  891 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 48.9+ KB

In [22]:
sex_dict = {'female': 0,
            'male': 1}
for i in range(len(data)):
  data['Sex'][i] = sex_dict[data['Sex'][i]]

<ipython-input-22-9b429230ce3b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Sex'][i] = sex_dict[data['Sex'][i]]

In [23]:
data

     Pclass Sex        Age  SibSp  Parch     Fare Embarked
0         3   1  22.000000      1      0   7.2500        S
1         1   0  38.000000      1      0  71.2833        C
2         3   0  26.000000      0      0   7.9250        S
3         1   0  35.000000      1      0  53.1000        S
4         3   1  35.000000      0      0   8.0500        S
..      ...  ..        ...    ...    ...      ...      ...
886       2   1  27.000000      0      0  13.0000        S
887       1   0  19.000000      0      0  30.0000        S
888       3   0  29.699118      1      2  23.4500        S
889       1   1  26.000000      0      0  30.0000        C
890       3   1  32.000000      0      0   7.7500        Q

[891 rows x 7 columns]

In [24]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(data['Embarked'])
data['Embarked'] = le.transform(data['Embarked'])

In [25]:
data

     Pclass Sex        Age  SibSp  Parch     Fare  Embarked
0         3   1  22.000000      1      0   7.2500         2
1         1   0  38.000000      1      0  71.2833         0
2         3   0  26.000000      0      0   7.9250         2
3         1   0  35.000000      1      0  53.1000         2
4         3   1  35.000000      0      0   8.0500         2
..      ...  ..        ...    ...    ...      ...       ...
886       2   1  27.000000      0      0  13.0000         2
887       1   0  19.000000      0      0  30.0000         2
888       3   0  29.699118      1      2  23.4500         2
889       1   1  26.000000      0      0  30.0000         0
890       3   1  32.000000      0      0   7.7500         1

[891 rows x 7 columns]

In [26]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [61]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold

In [83]:
random_forest = RandomForestClassifier(n_estimators=120, max_depth=10, random_state=1)
random_forest.fit(data, y)
rf_preds = random_forest.predict(data)
print('accuracy', accuracy_score(y, rf_preds))

accuracy 0.9393939393939394

In [59]:
knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(data, y)
knn_preds = knn.predict(data)
knn_preds_proba = knn.predict_proba(data)[:, 1]
print('accuracy', accuracy_score(y, knn_preds))
print('roc_auc', roc_auc_score(y, knn_preds_proba))

accuracy 0.7800224466891134
roc_auc 0.8571139445456386

In [50]:
lr = LogisticRegression()

lr.fit(data, y)
lr_preds = lr.predict(data)
lr_preds_proba = lr.predict_proba(data)[:, 1]

print('accuracy', accuracy_score(y, lr_preds))
print('roc_auc', roc_auc_score(y, lr_preds_proba))

cross_val_scores = cross_val_score(lr, data, y, cv=5, scoring='roc_auc')
print(cross_val_scores)
print(np.mean(cross_val_scores))

accuracy 0.8002244668911336
roc_auc 0.8575959479755856
[0.84677207 0.83181818 0.85354278 0.84525401 0.87342109]
0.8501616258789115

In [55]:
gbdt = GradientBoostingClassifier()

gbdt.fit(data, y)
gbdt_preds = gbdt.predict(data)
gbdt_preds_proba = gbdt.predict_proba(data)[:, 1]

print('accuracy', accuracy_score(y, gbdt_preds))
print('roc_auc', roc_auc_score(y, gbdt_preds_proba))

cross_val_scores = cross_val_score(gbdt, data, y, cv=5, scoring='roc_auc')
print(cross_val_scores)
print(np.mean(cross_val_scores))

accuracy 0.8933782267115601
roc_auc 0.946601476368517
[0.85869565 0.8144385  0.90481283 0.85775401 0.91370828]
0.8698818566480876

In [30]:
data_test = pd.read_csv('test.csv')
data_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [31]:
passenger_id = data_test['PassengerId']

In [32]:
data_test = data_test.drop(columns=['PassengerId', 'Name', 'Ticket', 'Cabin'])
data_test.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  34.5      0      0   7.8292        Q
1       3  female  47.0      1      0   7.0000        S
2       2    male  62.0      0      0   9.6875        Q
3       3    male  27.0      0      0   8.6625        S
4       3  female  22.0      1      1  12.2875        S

In [33]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    object
 2   Age       332 non-null    float64
 3   SibSp     418 non-null    int64
 4   Parch     418 non-null    int64
 5   Fare      417 non-null    float64
 6   Embarked  418 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 23.0+ KB

In [34]:
data_test['Age'] = data_test['Age'].fillna(fill_value)
data_test['Embarked'] = data_test['Embarked'].fillna('S')

data_test['Fare'] = data_test['Fare'].fillna(np.mean(data['Fare']))

In [35]:
data_test['Sex'] = list(map(lambda x: sex_dict[x], data_test['Sex']))
data_test['Embarked'] = le.transform(data_test['Embarked'])

In [36]:
data_test

     Pclass  Sex        Age  SibSp  Parch      Fare  Embarked
0         3    1  34.500000      0      0    7.8292         1
1         3    0  47.000000      1      0    7.0000         2
2         2    1  62.000000      0      0    9.6875         1
3         3    1  27.000000      0      0    8.6625         2
4         3    0  22.000000      1      1   12.2875         2
..      ...  ...        ...    ...    ...       ...       ...
413       3    1  29.699118      0      0    8.0500         2
414       1    0  39.000000      0      0  108.9000         0
415       3    1  38.500000      0      0    7.2500         2
416       3    1  29.699118      0      0    8.0500         2
417       3    1  29.699118      1      1   22.3583         0

[418 rows x 7 columns]

In [84]:
y_pred_knn = knn.predict(data_test)
y_pred_lr = lr.predict(data_test)
y_pred_gbdt = gbdt.predict(data_test)
y_pred_rf = random_forest.predict(data_test)
# print(y_pred_knn)
# print()
# print(y_pred_lr)
# print()
print(y_pred_rf)
print()
print(y_pred_gbdt)

[0 0 0 0 0 0 0 0 1 0 0 0 1 0 1 1 0 0 0 0 1 1 1 0 1 0 1 0 1 0 0 0 1 0 1 0 0
 0 0 1 0 1 0 1 1 0 0 0 1 1 0 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 1 0 0 1 1 0 0 0
 1 0 0 1 0 1 1 0 0 0 0 0 1 0 1 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0
 1 0 1 0 0 1 0 0 1 1 1 1 1 1 1 0 0 0 0 0 1 0 0 0 0 0 0 1 1 1 1 1 0 0 1 0 1
 0 1 0 0 0 0 0 1 0 1 0 1 0 0 0 1 1 1 1 0 0 0 0 1 0 0 0 0 1 0 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 1 0 0 1 1 1 1 1 0 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 1 1 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 1 0 0 0 1 0 0
 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 1 0 0 0 1 1
 0 1 0 0 1 1 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0
 0 1 1 1 1 0 0 1 0 0 1]

[0 0 0 0 0 0 1 0 1 0 0 0 1 0 1 1 0 0 1 1 0 1 1 1 1 0 1 0 0 0 0 0 1 0 1 0 0
 0 0 1 0 1 0 1 1 0 0 0 1 1 0 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 1 0 0 1 1 0 1 0
 1 0 0 1 0 1 1 0 0 0 0 0 1 0 1 1 1 0 1 0 1 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0
 1 0 1 0 0 0 0 0 1 1 1 0 1 1 1 0 0 0 0 0 1 0 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1
 0 1 0 0 0 0 0 0 0 1 0 1 1 0 0 1 1 0 1 0 0 1 0 1 0 0 0 0 1 0 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 0 0 0 0 1 1 1 1 1 0 0 0 1 0 1 1 1 0 0 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 1 0 0 0 1 0 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 0 0 1 1 0 1 0 0 0 1 0
 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0
 0 1 1 1 1 1 0 1 0 0 0]

In [86]:
# y_pred_knn = pd.DataFrame(y_pred_knn, columns=['Survived'])
# y_pred_knn['PassengerId'] = passenger_id
# y_pred_knn = y_pred_knn[['PassengerId', 'Survived']]
# y_pred_knn.to_csv('submission_knn.csv', index=None)

# y_pred_knn.head()

# y_pred_lr = pd.DataFrame(y_pred_knn, columns=['Survived'])
# y_pred_lr['PassengerId'] = passenger_id
# y_pred_lr = y_pred_knn[['PassengerId', 'Survived']]
# y_pred_lr.to_csv('submission_lr.csv', index=None)

# y_pred_lr.head()


# y_pred_gbdt = pd.DataFrame(y_pred_gbdt, columns=['Survived'])
# y_pred_gbdt['PassengerId'] = passenger_id
# y_pred_gbdt = y_pred_gbdt[['PassengerId', 'Survived']]
# y_pred_gbdt.to_csv('submission_gbdt.csv', index=None)

# y_pred_gbdt.head()

y_pred_rf = pd.DataFrame(y_pred_rf, columns=['Survived'])
y_pred_rf['PassengerId'] = passenger_id
y_pred_rf = y_pred_rf[['PassengerId', 'Survived']]
y_pred_rf.to_csv('submission_rf.csv', index=None)

y_pred_rf.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0